:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color0: #000;
  --color1: #1C4624;
  --color2: #378B47;
  --color3: #8ED29B;
  --color4: #fff;

  --shadow__dark: rgba(28, 70, 36, 0.75);
  --shadow__light: rgba(28, 70, 36, 0.25);
  scrollbar-gutter: stable;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* All */
html {
  font-size: 56.25%;
  overflow-y: scroll;
}

main {
  padding: 12rem 5rem;
  min-height: fit-content;
}

.app__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main__content {
  flex: 1;
}

h1 {
  font-size: 3.2rem;
  color: var(--color1);
  text-align: left;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

button, a {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--color1);
  text-align: center;
}

p {
  font-size: 1.8rem;
}

.icon {
  background-color: var(--color3);
  border-radius: 1.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__dark);
}

.icon:hover {
  background-color: var(--color2);
}

.icon__svg {
  width: 3rem;
  height: 3rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.form__input {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

input, .checkbox {
  border: 2px solid var(--color1);
  border-radius: 1.5rem;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__light);
}

input {
  font-size: 1.8rem;
  padding: 1rem 2rem;
  min-width: 60rem;
  color: var(--color1);
}

input:focus {
  background-color: var(--color3);
}

input::placeholder {
  color: var(--color1);
  opacity: 1;
}

.checkbox {
  min-width: 0;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid var(--color1);
  border-radius: 1.5rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__light);
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  margin-right: 1rem;
}

.checkbox:checked {
  border-radius: 100%;
  background-color: var(--color1);
}

.checkbox:checked::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  background-image: url('./assets/img/check.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox__label {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.checkbox__text {
  display: block;
  flex: 1;
  white-space: normal;
  word-break: break-word;
  line-height: 1.4;
}

.form__checkbox {
  font-weight: bold;
  text-decoration: underline;
}

.peas {
  position: absolute;
  top: -8rem;
  right: -10rem;
  height: 20rem;
  z-index: 10;
}

.peas--miguelAngel {
  position: absolute;
  bottom: -5rem;
  left: -8rem;
  height: 12rem;
  z-index: 10;
}

.link__text, .form__link {
  color: var(--color1);
}

.link__text {
  display: block;
  white-space: normal;
  word-break: break-word;
  line-height: 1.4;
  text-align: center;
  font-size: 2rem;
}

.form__link {
  font-weight: bold;
  text-decoration: underline;
}

.form__submit {
  font-size: 2rem;
  display: flex;
  align-self: center;
  padding: 1.5rem 2rem;
  background-color: var(--color3);
  color: var(--color1);
  font-weight: bold;
  border-radius: 1.5rem;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__light);
  cursor: pointer;
  min-width: fit-content;
  border: none;
}

.form__submit:hover {
  background-color: var(--color2);
  color: var(--color0);
  font-weight: bold;
  border-radius: 1.5rem;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__light);
  cursor: pointer;
  min-width: fit-content;
  border: none;
}

/* Header */
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 20rem;
  height: 7rem;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__dark);
  z-index: 2;
  position: relative;
  background-color: var(--color4);
}

.header__logo {
  display: flex;
}

.header__logo__icon {
  max-height: 5rem;
}

.nav__container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.nav__container__menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__container__menu__anchor,
.nav__container__menu__anchor--button__link,
.nav__container__menu__anchor--button--variant__link {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  color: #1C4624;
}

.nav__container__menu__anchor:hover {
  background-color: var(--color3);
  color: var(--color0);
}

button, .nav__container__menu__anchor--button,
.nav__container__menu__anchor--button--variant {
  text-align: center;
  text-decoration: none;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__light);
  border-radius: 1.5rem;
}

.nav__container__menu__anchor--button {
  background-color: var(--color3);
}

.nav__container__menu__anchor--button__link,
.nav__container__menu__anchor--button--variant__link {
  padding: 1rem 2rem;
}

.nav__container__menu__anchor--button__link:hover {
  background-color: var(--color2);
  color: var(--color0);
}

.nav__container__menu__anchor--button--variant__link {
  outline: .3rem solid var(--color2);
  outline-offset: -.3rem;
  color: var(--color1);
}

.nav__container__menu__anchor--button--variant__link:hover {
  background-color: var(--color2);
  color: var(--color0);
}

.nav__container__hamburger {
  display: none;
  padding: 1rem;
  border: none;
  background-color: var(--color3);
}

.nav__container__hamburger:hover {
  cursor: pointer;
  background-color: var(--color2);
}

.nav__hamburguer__icon {
  height: 2rem;
  width: 2.5rem;
}

/* Register */
.login__background {
  background-image: url('./assets/img/backgroundLoginRegister.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  position: relative;
  background-color: var(--color4);
  padding: 4rem;
  min-width: 50%;
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem;
  box-shadow: 0 .3rem .3rem 0 var(--shadow__dark);
}

/* Login */

.login__background--login {
  background-image: url('./assets/img/backgroundLoginRegister.svg');
  background-size: 100% 90%;
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
footer {
  width: 100%;
  background-color: var(--color1);
  color: var(--color4);
  text-align: center;
}

.footer__container {
  padding: 4rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer__container__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer__container__content--variant1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5rem;
}

.icons__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.footer__anchor {
  color: var(--color4);
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 1.5rem;
}

.footer__anchor:hover {
  color: var(--color3);
}

.links_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.decorator {
  width: 1rem;
  height: 1rem;
  background-color: var(--color3);
  border-radius: 100%;
}

@media (max-width: 1100px) {
  main {
    padding: 10rem 2rem;
  }

  input {
    min-width: 0;
    width: 100%;
  }

  .header__container {
    padding: 1rem 2rem;
  }

  .header__logo {
    align-self: center;
  }

  .login__container {
    min-width: 0;
  }

  .nav__container__menu {
    top: 5.5em;
    padding: 2rem;
    border-radius: 0 0 0 1.5rem;
  }

  .nav__container__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: var(--color4);
    padding: 3rem;
    border-radius: 0 0 0 1.5rem;
    box-shadow: 0 .3rem .3rem 0 var(--shadow__dark);
    max-width: 30rem;
  }

  .nav__container__menu.active {
    display: flex;
  }

  .nav__container__hamburger {
    display: block;
  }

  .peas {
    top: -6rem;
    right: 0rem;
    height: 15rem;
  }

  .peas--miguelAngel {
    bottom: -4.5rem;
    left: 3rem;
    height: 8rem;
  }

  .login__background, .login__background--login {
    background-size: cover
  }

  .footer__container {
    padding: 4rem 2rem;
  }

  .footer__container__content{
    flex-direction: column;
    gap: 2rem;
  }

  .footer__container__content--variant1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}