:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color0: #000;
  --color1: #1C4624;
  --color2: #378B47;
  --color3: #8ED29B;
  --color4: #fff;

  --shadow__dark: rgba(28, 70, 36, 0.75);
  --shadow__light: rgba(28, 70, 36, 0.25);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 15.5rem;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

button, label, a {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: 1.5rem 3rem;
  color: var(--color1);
  text-align: center;
}

nav a:hover {
  background-color: var(--color3);
  border-radius: 1.5rem;
  color: var(--color0);
}

p {
  font-size: 1.8rem;
}

button, .link__button, .link__button--variant1 {
  padding: 1.5rem 3rem;
  text-decoration: none;
  box-shadow: 0 .4rem .4rem 0 var(--shadow__light);
  border-radius: 1.5rem;
  text-align: center;
}

.button--icon {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--color3);
}

.button--icon:hover {
  cursor: pointer;
  background-color: var(--color2);
}

.nav__hamburguer__icon {
  height: 3rem;
  width: 3rem;
}

.link__button {
  background-color: var(--color3);
}

.link__button:hover {
  background-color: var(--color2);
  color: var(--color0);
}

.link__button--variant1 {
  outline: 0.2rem solid var(--color2);
  outline-offset: -0.2rem;
  color: var(--color2);
}

.link__button--variant1:hover {
  background-color: var(--color2);
  color: var(--color0);
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 17.5rem;
  height: 8rem;
  box-shadow: 0 .4rem .4rem 0 var(--shadow__dark);
}

.nav__container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav__hamburger {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color1);
  color: var(--color4);
  text-align: center;
  padding: 1rem;
}

@media (max-width: 76.8rem) {
  .header__container {
    padding: 1.5rem 3rem;
  }

  .nav__hamburger {
    display: block;
  }

  .nav__menu {
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.5s ease;
    transform: translateY(-1rem);
    flex-direction: column;
    position: absolute;
    top: 8em;
    right: 0;
    background-color: var(--color4);
    padding: 3rem;
    border-radius: 0 0 0 1.5rem;
    box-shadow: 0 .4rem .4rem 0 var(--shadow__dark);
  }
  
  .nav__menu.active {
    opacity: 1;
    transform: translateY(0);
  }
}